@model IoTHubMonitoring.Models.DeviceDetailsDto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2> 

<div>
    <h4>DeviceDetailsDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Current value
        </dt>
        <dd id="currentvalue">
            @(0)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Set point
        </dt>
        <dd>
            @Html.EditorFor(model => model.SetPoint)
            <a href="#" id="setsetpoint" class="btn btn-primary">Set Set Point</a>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Alarm point
        </dt>
        <dd>
            @Html.EditorFor(model => model.AlarmPoint)
            <a href="#" id="setalarmpoint" class="btn btn-primary">Set Alarm Point</a>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Alarmed
        </dt>
        <dd id="alarm">
        </dd>
    </dl>
</div>
<div>
    <table id="LastTenAverages" class="table table-striped">
        <thead>
            <tr>
                <th class="col-lg-6">Timestamp</th>
                <th class="col-lg-6">Average</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(function () {

            $("#setsetpoint").click(function (e) {

                var setPoint = $("[name='SetPoint']").val();

                var url = '@Url.Action("SetSetPoint", new { id = Model.DeviceId })';

                $.ajax({
                    url: url,
                    type: 'post',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({
                        setPoint: setPoint
                    })
                });

            });

            
            $("#setalarmpoint").click(function (e) {

                var alarmPoint = $("[name='AlarmPoint']").val();

                var url = '@Url.Action("SetAlarmPoint", new { id = Model.DeviceId })';

                $.ajax({
                    url: url,
                    type: 'post',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify({
                        alarmPoint: alarmPoint
                    })
                });

            });


            setInterval(() => {

                var currentValueUrl = '@Url.Action("CurrentValue", new { id = Model.DeviceId })';

                $.getJSON(currentValueUrl, function (response) {

                    $("#currentvalue").html(response.currentValue);
                    $("#alarm").html(response.alarm);

                });

            }, 10000);

            setInterval(() => {

                var lastTenAveragesUrl = '@Url.Action("LastTenAverages", new { id = Model.DeviceId })';

                $.getJSON(lastTenAveragesUrl, function (response) {

                    var tbody = $("#LastTenAverages tbody");
                    tbody.empty();

                    $(response).each((i, item) => {

                        var row = "<tr><td>" + item.timestamp + "</td><td>" + item.value + "</td></tr>";
                        tbody.append(row);

                    });


                });

            }, 20000);


        });

    </script>
}